<% if(SUCCESS && SUCCESS.length) { %>
<div
  class="alert alert-success alert-dismissible fade show cols-6 offset-2"
  role="alert"
>
  <%=SUCCESS %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<%}%>
