<% layout("/layouts/boilerplate") -%>
<div row>
  <div class="alert alert-danger cols-6 offset-2" role="alert">
    <h4 class="alert-heading">Error <%= err.statusCode %></h4>
    <p><%= err.message %></p>
  </div>
</div>
